article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 1.5em 10%;
    width: 90%;
}

article img {
    border-radius: 20px;
    width: 30%;
}

article img + p {
    width: 65%;
}