header, main, footer {
    margin: auto;
    width: 60vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 3em;
}

header nav {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 0;
    width: 100%;
}

header nav ul li {
    list-style: none;
    padding-right: 2em;
    text-transform: uppercase;
}

header nav a {
    color: black;
    font-family: cursive, sans-serif;
    padding-bottom: 1em;
    text-decoration: none;
}

header nav a:hover {
    border-bottom: 3px solid blue;
    color: black;
}

#logo {
    height: 5em;
    margin-right: 15px;
}

footer {
    padding: 20px 0;
    text-align: center;
}

h2 {
    color: red;
    font-size: 2.2em;
    margin-bottom: 5px;
}

main p {
    text-align: justify;
}

section + section {
    margin-top: 3em;
}